@import url("https://api.fontshare.com/v2/css?f[]=author@400,500,200,600,300,401&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #111;
    color: white;
    transition: background-color;
    transition-duration: 300ms;
}
